<% content_for :head do %>
  <%= javascript_include_tag 'http://www.google.com/jsapi' %>
<% end %>


<h3>Users Dashboard</h3>

<div class="span9">
  <div id="chart" style="width: 700px; height: 240px">
    <%= render_chart @chart, 'chart' %>
  </div>
  <br>
</div>

<div class="span9">
  <div id="chart2" style="width: 700px; height: 240px">
    <%= render_chart @chart2, 'chart2' %>
  </div>
  <br>
</div>


<div class="span9">
  <table id="users" class="datatable table table-bordered table-condensed" data-source="<%= users_url(format: "json") %>">
    <thead>
      <tr>
          <th>Username</th>
          <th>Email</th>
          <th>Registered</th>
          <th>Role</th>
          <th>Change Role</th>
          <th>Delete</th>
      </tr>
    </thead>   
    <tbody>
    </tbody>
  </table>
</div>

