<p>Welcome <%= @resource.email %>!</p>

<p>We're pleased to invite you to try <%= link_to 'habitbuild.com', root_url %>.</p>

<p>You can confirm your account and set your password by clicking the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
